
@{
    ViewData["Title"] = "Me";
}

@*<h6 class="text-center"><i class="fa-brands fa-debian fa-spin"></i>Hello Koty<i class="fa-brands fa-debian fa-spin"></i></h6>*@
<div class=" d-flex justify-content-center align-items-center">
    
    <img src="~/Files/Images/one.PNG" width="50%" height="50%" />
</div>

