@using Demo.DAL.Models

@model EmployeeViewModel

@if(Model.ImageName is not null)
{
    <div class="form-group">
        <img src="~/Files/" class="rounded" width="100" height="100" />
        <input hidden asp-for="ImageName" />
    </div>
}

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>




<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input readonly class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input readonly class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input readonly class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActve"></label>
    <input readonly class="form-control" asp-for="IsActve" />
    <span asp-validation-for="IsActve" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input readonly class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input readonly class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CreationDate"></label>
    <input readonly class="form-control" asp-for="CreationDate" />
    <span asp-validation-for="CreationDate" class="text-danger"></span>
</div>