@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}



<form asp-action="ConfirmDelete">

    <h1>@Model.FName @Model.LName Delete</h1>
    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="FName"></label>
        <input readonly class="form-control" asp-for="FName" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="LName"></label>
        <input readonly class="form-control" asp-for="LName" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input readonly class="form-control" asp-for="PhoneNumber" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>